.idea/
.vscode/

.DS_Store
*/.DS_Store

*.ipynb

.ipynb_checkpoints/
__pycache__/

*/.ipynb_checkpoints/
*/__pycache__/

data/cache
data/train.txt
data/val.txt

front-end/.idea/
front-end/.vscode/

front-end/node_modules/
front-end/package-lock.json
